# Binaries Folders
**/build

# Windows files
**.bat
!gradle.bat

# Ini files
**.ini

# Binary files
**/bin

# VSCode files
**/.vscode

# .natsuki Level Files
**.nat

# IntelliJ files
**/.idea

# Test units
**/test